.container {
  display: flex;
  flex-direction: row;
}

.listContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 100vh;
}

.sortBtn {
  width: 30%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}
