.list {
  width: 100%;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  max-height: 100vh;
}
.item_container {
  border: 1px solid black;
  width: 100%;
  border-radius: 4px;
  margin-bottom: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  padding: 5px 10px;
  justify-content: space-between;
  height: 100px;
  background-color: #d4e0dc;
}

.delete_btn {
  display: none;
  color: red;
}

.item_container:hover {
  background-color: antiquewhite;
}

.item_container:hover .delete_btn {
  display: flex;
}

.todo_details_container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.icon_container {
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.timestamp_section {
  font-size: 12px;
  color: #0790ad;
}

.todo_text {
  font-size: 16px;
  display: block;
  height: 300px;
}
