.card {
  height: 500px;
  width: 400px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
}
.footerText {
    font-size: 12px;
}
