.input_container {
  margin: 10px auto;
  width: 80%;
}

.input_container input {
  width: 100%;
  border-radius: 20px;
  border: 1px solid #c0c0c0;
  outline: 0 !important;
  box-sizing: border-box;
  padding: 12px 15px;
}
