:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  min-width: 100vw;
  min-height: 100vh;
}

#root {
  width: 100%;
}

.hide {
  visibility: hidden;
  display: block;
}

input, textarea {
  border-radius: 20px;
  border: 1px solid #c0c0c0;
  outline: 0 !important;
  box-sizing: border-box;
}

input:focus,
textarea:focus,
select:focus {
  border: 1px solid #0790ad;
  box-shadow: 0 0 5px #0790ad;
}
